.header{
    background-color: #3b5998;
    width: 100%;
    height: 85px;
}
body{
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.logo{
    width: 50%;
    padding-top: 35px ;
    float: left;

}
.login{
    width: 50%;
    float: left;
    padding-top: 10px;


}
.logo-text{
    font-size: 35px;
    color: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-left: 170px;
    text-decoration: none;
}
.login-label{
    color: #ffffff;
    font-size: 13px;

}
.table-content{
    margin-left: 200px;
    
}
.forgotten{
    color: #ffffff;
    font-size: 11px;
    color: #9cb4d5;
}
.submit-but{
    background: #4267b2;
    border-color: #29487d;
    color: #ffffff;
    height: 20px;
    cursor: pointer;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.submit-but:hover{
    border-color: #0a50dd ;
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 143px;
    padding-top: 52px;
}
.right-section{
    width: 50%;
    float: left;
}
.body{
    background: linear-gradient(white, #D3D8E8);
    width: 100%;
    height: 500px;
}
.img{
    width: 581px;
}